body {
    background-color: #fff;
    color: #303;


    width: 960px;
    min-width: 960px;
    margin: 0 auto;
    padding: 20px;


    font-size: 24px;
    font-family: Helvetica, sans-serif;
    color: black;
}




body h1 {
    background-color: #aaa;
    color: #fff;
}

/* Header of the site. Menu */

.website-header {

    text-align: center;
    margin: 15px auto;
    padding: 15px;

    line-height: 50px;


    box-sizing: border-box;



}



.box {
    background: blanchedalmond;
    text-align: center;

    margin: 15px auto;
    padding: 15px;

    line-height: 50px;


    box-sizing: border-box;

}

#home {
    position: relative;
    top: 0px;
    left: 0px;
}

#articles {
    position: relative;
    top: 0px;
    left: 40px;
}

#photography {
    position: relative;
    top: 0px;
    left: 80px;
}


#connect {
position: relative;
    top: 0px;
    left: 120px;

}


/* End of:  Header of the site. Menu */