body {
    background-color: #fff;
    color: #303;


    width: 960px;
    margin: 0 auto;
    padding: 20px;


    font-size: 24px;
    font-family: Helvetica, sans-serif;
    color: black;
}




body h1 {
    background-color: #aaa;
    color: #fff;
}

/* Header of the site. Menu */

.box {
    background: blanchedalmond;
    text-align: center;
    height: 50px;
    width: 200px;
    line-height: 50px;
    text-transform: uppercase;

    position: fixed;
    top: 100px;
    left: 100px;
}

#home {
    position: fixed;
    top: 100px;
    left: 300px;
}

#articles {
    position: fixed;
    top: 100px;
    left: 550px;
}

#photography {
    position: fixed;
    top: 100px;
    left: 800px;
}

#about {
    position: fixed;
    top: 100px;
    left: 1050px;
}